<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
<form action="/transaction" method="POST">
    <input type="text" name="senderName" placeholder="senderName">
    <input type="text" name="senderPass" placeholder="senderPass">
    <input type="text" name="count" placeholder="count">
    <input type="text" name="nameTo" placeholder="nameTo">
    <input type="submit">
</form>
</body>
</html>